.sidenav {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 95%;

    .list-item-container {
        display: flex;
        align-items: center;
        gap: 10px
    }

    .logged-in-user {
        font-size: 16px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        word-wrap: break-word;

        .name {
            text-decoration: underline;
        }
    }
}


