<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-menu [user]="loggedInUser" [sidenav]="sidenav" [cartNumber]="cartNumber"></app-sidenav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page">
            <app-toolbar-menu [user]="loggedInUser" [sidenav]="sidenav" [cartNumber]="cartNumber"></app-toolbar-menu>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
